@page
@using BleakwindBuffet.Data.Entrees
@using BleakwindBuffet.Data.Sides
@using BleakwindBuffet.Data.Drinks
@using BleakwindBuffet.Data.Enums
@using BleakwindBuffet.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="menu-filtering">

    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search" />
    </div>

    <h4>Category</h4>
    @foreach (String category in BleakwindBuffet.Data.Menu.Category)
    {
        <label>
            <input type="checkbox" name="Category" value="@category" checked="@Model.Category.Contains(category)" />
            @category
        </label>
    }

    <h4>Calories</h4>
    <div>
        Between
        <input name="CalMin" type="number" min="0" max="850" step="1" placeholder="min" value="@Model.CalMin" />
        and
        <input name="CalMax" type="number" min="0" max="850" step="1" placeholder="max" value="@Model.CalMax" />
    </div>

    <h4>Price</h4>
    <div>
        Between
        <input name="PriceMin" type="number" min="0" max="8.50" step="0.01" placeholder="min" value="@Model.PriceMin" />
        and
        <input name="PriceMax" type="number" min="0" max="8.50" step="0.01" placeholder="max" value="@Model.PriceMax" />
    </div>






    <div class="text-center">
        <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
        <p>
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
            Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
            Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
            You’ve had a hard adventure and earned your loot, so spend it with us!.
        </p>

        <h3>Welcome to Bleakwind Buffet where we have all kinds of Skyrim themed Entrees, Sides, and Drinks!</h3>
    </div>




    <div class="Item-columns">
        <div>
        <h2>Entrees</h2>
        @foreach (IOrderItem i in Model.CurrentMenu)
        {
            @if (i is Entree)
            {
                <h5 class="ItemName">@i.ToString()</h5>
                <h8 class="description">@i.Description</h8>
                <ul class="menuEntree">
                    <li class="ItemPrice">Price:  @i.Price</li>
                    <li class="ItemCalories">Calories: @i.Calories </li>
                </ul>
            }
        }
        </div>
    </div>

    <div class="Item-columns">
        <div>
            <h2>Sides</h2>
            @foreach (IOrderItem i in Model.CurrentMenu)
            {

                @if (i is Side)
                {
                    Side curSide = (Side)i;
                    <h5 class="ItemName">@curSide.ToString()</h5>
                    <h8 class="description">@i.Description</h8>
                    <ul class="Side">
                        <li class="ItemPrice">Price: @curSide.Price</li>
                        <li class="ItemCalories">Calories: @curSide.Calories</li>
                    </ul>

                }
            }
        </div>
    </div>

    <div class="Item-columns">
        <div>
        <h2>Drinks</h2>
        @foreach (IOrderItem d in Model.CurrentMenu)
        {
            @if (d is Drink)
            {

                Drink curDrink = (Drink)d;
                <h5 class="ItemName">@curDrink.ToString()</h5>
                <h8 class="description">@d.Description</h8>
                <ul class="Drink">
                    <li class="ItemPrice"> Price: @curDrink.Price </li>
                    <li class="ItemCalories">Calories: @curDrink.Calories </li>
                </ul>

            }
        }
        </div>
    </div>

    <h2>Other Details:</h2>

    <div class="combo">Create a Combo! Add any Entree, Side, and Drink to a combo order and get $1 off your order price!</div>
    <div class="sodaFlavors">
        <div>The available flavors for the Sailor Soda are:</div>
        <ul>
            <li>Blackberry</li>
            <li>Cherry</li>
            <li>Grapefruit</li>
            <li>Lemon</li>
            <li>Peach</li>
            <li>Watermelon</li>
        </ul>
    </div>
    


</form>